# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*/Build/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Untracked project settings
*.qbs.user

# Untracked libraries
stm32f107vc_periph/

# Memory maps
*.map


